body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; /* Color de fondo */
  color: #333; /* Color del texto */
}

header {
  background-color: #ff6f61; /* Color de fondo del encabezado */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700; /* Cambia el color al pasar el mouse */
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 200px; /* Ancho de la imagen */
  height: 200px; /* Altura de la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen */
  margin: 0 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slide:hover {
  transform: translateY(-10px); /* Mueve la imagen hacia arriba al pasar el mouse */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

.sword,
.magic-wand,
.shield,
.hammer {
  background-size: contain; /* Ajusta el tamaño de la imagen */
}

.sword {
  background-image: url('/images/sword.png'); /* URL de la imagen de la espada */
}

.magic-wand {
  background-image: url('/images/magic-wand.png'); /* URL de la imagen del cetro mágico */
}

.shield {
  background-image: url('/images/shield.png'); /* URL de la imagen del escudo */
}

.hammer {
  background-image: url('/images/hammer.png'); /* URL de la imagen del martillo */
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff6f61; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff5246; /* Cambia el color al pasar el mouse */
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
